.text-block{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 0px 0px 20px 0px;

    &._white{
        color: #fff;
    }
    &._gray{
        color: #fff;
    }
    &._blue{
        color: #fff;
    }
}

